<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adafruit.bluefruit.le.TalkingToEachOther">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Needed to download files from dropbox -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Barcode reading -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Wifi permissions are only needed if the app needs to turn off wifi to improve ble connections -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Permissions Michael added -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainHelpActivity"
            android:label="@string/title_activity_mainhelp"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.CommonHelpActivity"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.InfoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.InfoActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.UartActivity"
            android:label="@string/title_activity_uart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.PinIOActivity"
            android:label="@string/title_activity_pin_io"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity"
            android:label="@string/title_activity_controller"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.PadActivity"
            android:label="@string/title_activity_pad"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.update.NotificationActivity"
            android:label="@string/dfu_feature_title" />

        <service android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.update.DfuService" />

        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.ConnectedSettingsActivity"
            android:label="@string/title_activity_connected_settings" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.BeaconActivity"
            android:label="@string/title_activity_beacon"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.ColorPickerActivity"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.MqttUartSettingsActivity"
            android:label="@string/title_activity_mqtt"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.UartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.UartActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.MqttUartSettingsCodeReaderActivity"
            android:label="@string/title_activity_mqtt_uart_settings_code_reader"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.MqttUartSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.settings.MqttUartSettingsActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelActivity"
            android:label="@string/title_activity_neopixel"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelColorPickerActivity"
            android:theme="@style/AppTheme.NoActionBarDialog" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelBoardSelectorActivity"
            android:theme="@style/AppTheme.NoActionBarDialog" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelBoardTypeActivity"
            android:theme="@style/AppTheme.NoActionBarDialog" />
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelHelpActivity"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.neopixel.NeopixelActivity" />
        </activity>

        <!-- Michael's Activities -->
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.ColorPickerActivity1Color"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.ColorPickerActivity2Colors"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.ColorPickerActivity4Colors"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.ColorPickerActivity8Colors"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adafruit.bluefruit.le.TalkingToEachOther.app.ControllerActivity" />
        </activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.TerminalActivity"
            android:label="@string/title_activity_terminal"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.test"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.TerminalActivity2"
            android:label="@string/title_activity_terminal"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.AndroidClient"
            android:label="@string/title_activity_android_client"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.adafruit.bluefruit.le.TalkingToEachOther.app.OurActivities.SensorDataActivity"
            android:label="@string/title_activity_android_client"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>